<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cadastro do Título de Eleitor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form [formGroup]="form">
    <ion-item>
      <ion-label stacked>Nome do Eleitor</ion-label>
      <ion-input type="text" formControlName="nome"></ion-input>
    </ion-item>
    <ion-item *ngIf="form.controls.nome.invalid && (form.controls.nome.dirty || form.controls.nome.touched)" color="danger">
      <div *ngIf="form.controls.nome.errors.required">
        Campo Obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Data de Nascimento</ion-label>
      <ion-input type="date" formControlName="datanascimento"></ion-input>
    </ion-item>
    <ion-item *ngIf="form.controls.datanascimento.invalid && (form.controls.datanascimento.dirty || form.controls.datanascimento.touched)" color="danger">
      <div *ngIf="form.controls.datanascimento.errors.required">
        Campo Obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Inscrição</ion-label>
      <ion-input type="number" formControlName="inscricao"></ion-input>
    </ion-item>
    <ion-item *ngIf="form.controls.inscricao.invalid && (form.controls.inscricao.dirty || form.controls.inscricao.touched)" color="danger">
      <div *ngIf="form.controls.inscricao.errors.required">
        Campo Obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Zona</ion-label>
      <ion-input type="number" formControlName="zona"></ion-input>
    </ion-item>
    <ion-item *ngIf="form.controls.zona.invalid && (form.controls.zona.dirty || form.controls.zona.touched)" color="danger">
      <div *ngIf="form.controls.zona.errors.required">
        Campo Obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Seção</ion-label>
      <ion-input type="number" formControlName="secao"></ion-input>
    </ion-item>
    <ion-item *ngIf="form.controls.secao.invalid && (form.controls.secao.dirty || form.controls.secao.touched)" color="danger">
      <div *ngIf="form.controls.secao.errors.required">
        Campo Obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Município</ion-label>
      <ion-input type="text" formControlName="cidade"></ion-input>
    </ion-item>
    <ion-item *ngIf="form.controls.cidade.invalid && (form.controls.cidade.dirty || form.controls.cidade.touched)" color="danger">
      <div *ngIf="form.controls.cidade.errors.required">
        Campo Obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Estado</ion-label>
      <ion-input type="text" formControlName="estado"></ion-input>
    </ion-item>
    <ion-item *ngIf="form.controls.estado.invalid && (form.controls.estado.dirty || form.controls.estado.touched)" color="danger">
      <div *ngIf="form.controls.estado.errors.required">
        Campo Obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Data de Emissão</ion-label>
      <ion-input type="date" formControlName="dataemissao"></ion-input>
    </ion-item>
    <ion-item *ngIf="form.controls.dataemissao.invalid && (form.controls.dataemissao.dirty || form.controls.dataemissao.touched)" color="danger">
      <div *ngIf="form.controls.dataemissao.errors.required">
        Campo Obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Nome do Pai</ion-label>
      <ion-input type="text" formControlName="nomepai"></ion-input>
    </ion-item>
    <ion-item *ngIf="form.controls.nomepai.invalid && (form.controls.nomepai.dirty || form.controls.nomepai.touched)" color="danger">
      <div *ngIf="form.controls.nomepai.errors.required">
        Campo Obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Nome da Mãe</ion-label>
      <ion-input type="text" formControlName="nomemae"></ion-input>
    </ion-item>
    <ion-item *ngIf="form.controls.nomemae.invalid && (form.controls.nomemae.dirty || form.controls.nomemae.touched)" color="danger">
      <div *ngIf="form.controls.nomemae.errors.required">
        Campo Obrigatório
      </div>
    </ion-item>

    <ion-item>
      <button ion-button [disabled]="!form.valid" (click)="salvar()">Salvar</button>
    </ion-item>

    <ion-item>
      <p>{{ form.value | json }}</p>
    </ion-item>
  </form>

</ion-content>
